@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-app: rgb(238, 237, 237);
  --background-color: #ebe0d6;
  --border-color: #d3aa94;
  --accent-color: #a2bcad;
  --heading-color: #b28479;
}

@layer components {
  .auth-container {
    @apply min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8;
    background-color: var(--background-app);
  }

  .auth-form-container {
    @apply py-8 px-4 shadow sm:rounded-lg sm:px-10;
    background-color: var(--background-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .auth-heading {
    @apply mt-6 text-center text-3xl font-extrabold;
    color: var(--heading-color);
  }

  .auth-link {
    @apply font-medium hover:opacity-80;
    color: var(--accent-color);
  }

  .auth-input {
    @apply appearance-none block w-full px-3 py-2 rounded-md shadow-sm placeholder-gray-400 focus:outline-none;
    border: 1px solid var(--border-color);
  }

  .auth-input:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 2px var(--accent-color);
  }

  .auth-label {
    @apply block text-sm font-medium;
    color: var(--heading-color);
  }

  .submit-button {
    @apply w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white;
    background-color: var(--accent-color);
  }

  .auth-error {
    @apply mt-1 text-sm;
    color: var(--border-color);
  }

  .auth-checkbox {
    @apply h-4 w-4 rounded;
    border-color: var(--border-color);
    color: var(--accent-color);
  }

  .server-error-feedback {
    @apply rounded-md bg-red-100 p-2;
  }

  .carousel-navigation-date {
    background-color: var(--heading-color);
  }

  .footer-navigation-icon-selected {
    color: var(--accent-color);
  }

  .radio-button-selected {
    border-color: var(--heading-color);
    background-color: var(--heading-color);
  }

  .delete-button {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: var(--heading-color);
  }
}
